.calendar {
  .header {
    .monthAndYear {
      display: flex;
      justify-content: center;
    }

    .weekDaysNames {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .dayName {
        padding: 10px;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .dayNumber {
      padding: 10px;
    }
  }
}